.container{
  padding:5%;
}

#form_title{
  font-size: 3em;
  margin-bottom: 2%;
  font-weight:bold;
}


.registration_form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: fit-content;

}


.full_name{
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

.first_name, .last_name {
  display: flex;
  flex-direction: column;
}
form.registration_form label {
  font-size: 25px;
  padding: 10px 0px;
}

input {
  padding: 4%;
}

@keyframes nudge {
  
  0% {
    transform: rotate(-2deg);
  }
  
  33% {
    transform: rotate(2deg);
  }
  
  66% {
    transform: rotate(-2deg);
  }
}

#palindrome_box, #check_palindrome,#palindrome,
#year_box,#year,#check_year,#reverse_box,#reverse,#reverse_btn,#consonant_box,#consonant,#consonant_btn
{
  display:none;
  
}

